.create-tutorial-section {
    display: flex;
    flex-direction: column;
    padding: 2vh 0;
    margin-bottom: 2vh;
    background-color: orangered;

    .create-section-details {
        display: flex;
        flex-direction: column;
        background-color: orange;
        height: auto;
        width: 100vw;
        margin: 1vh 0;

        .section-detail-text {
            min-height: 1vh;
        }
    }
}