.App {
  text-align: center;
}

/* Common Styles */

.link-active {
  text-decoration: none;
  color: #fff;
}

.link-active:hover {
  color: rgba(238, 238, 238, 0.5);
  text-decoration: none;
}

.nav-height {
  height: 50px;
}

/* Navbar Specific */

.main-title {
  font-size: 1.5rem;
  font-weight: lighter;
  letter-spacing: 2px;
  font-family: "Montserrat", sans-serif;
  color: #fff;
}

/* Body Specifid */
