.App {
  text-align: center;
}

a {
  text-decoration: none !important;
  color: #fff;
}

#title {
  font-size: 1.5rem;
  font-weight: lighter;
  letter-spacing: 2px;
  font-family: "Montserrat", sans-serif;
  color: #fff;
}
