<form [formGroup]="tutorialForm">
    <input placeholder="Enter tutorial name..." formControlName="tutorialName">

    <div formArrayName="sections">
        <div *ngFor="let section of sectionsForms.controls; let i = index" [formGroupName]="i">
            <input placeholder="Section name" formControlName="sectionName">

            <button (click)="addDetail(i)">Add detail</button>
            <!-- Should now represent the inner array, details-->
            <div formArrayName="sectionDetails">
                <div *ngFor="let detail of sectionsForms.controls[i].sectionDetails">
                    <input formControlName="detailHeader">

                </div>
            </div>
            <!-- // -->

            <button (click)="removeSection(i)">Remove section</button>
        </div>
    </div>

    <button (click)="addSection()">Add section</button>

</form>