.tutorial-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    overflow: auto;
    background-color: yellow;

    .tutorial-name {
        display: flex;
    }


    .section-form-list {
        display: flex;
        flex-direction: column;

        .section-name {
            display: flex;
        }
    }

    .detail-form-list {
        display: flex;
        flex-direction: column;
    }
}