<!--
    TODO: This could do with refactoring...
-->

<!-- formGroup is bound to our tutorialForm field, represents our entire form-->
<form [formGroup]="tutorialForm" class="tutorial-form">
    <!-- This input will only be rendered once, as it is in our top level form body -->
    <h1>Enter a tutorial name:</h1>
    <input placeholder="Enter tutorial name..." formControlName="tutorialName">
    <button (click)="addSection()">Add section</button>

    <!-- This is the first array in our top level form body -->
    <div formArrayName="sections">
        <div *ngFor="let section of sectionsForms.controls; let i = index" [formGroupName]="i" class="section-form-list">

            <!-- This input is rendered once per each instance of the array -->
            <h1>Enter a section name:</h1>
            <input placeholder="Section name" formControlName="sectionName">

            <button (click)="addDetail(i)">Add detail</button>

            <!-- This nested array, in our previous array, gets our current section we are on -->
            <!-- accesses the controls of it, it has a FormArray called sectionDetails -->
            <!-- And we do an *ngFor on it's controls, so we are certain it only belongs to 1 section -->
            <div formArrayName="sectionDetails">
                <div 
                    *ngFor="let detail of sectionsForms.controls[i].controls.sectionDetails.controls; let j = index"
                    [formGroupName]="j"
                    class="detail-form-list">
                    <h1>Enter the detail header name:</h1>
                    <input placeholder="Detail header" formControlName="detailHeader">
                    <h1>Enter the detail text body:</h1>
                    <textarea placeholder="Detail text" formControlName="detailText"></textarea>
                    <button (click)="removeDetail(i, j)">Remove detail</button>
                </div>
            </div>
 
            <button (click)="removeSection(i)">Remove section</button>
        </div>
    </div>

</form>
<button (click)="getDataFromForm()">Log form data</button>
